{% load i18n %}
{% load sslhours %}

<table id="datatable_id" class="display datatable">
    <thead>
        <tr>
            <th>{% trans "Tally" %}</th>
            <th>{% trans 'Feature' %}</th>
            <th>{% trans 'Status' %}</th>
            <th nowrap>{% trans 'Vote up or down' %}</th>
        </tr>
    </thead>
    <tbody>
    	{% for feature in features %}
	        <tr>
                <td align="center"><h2>{{ feature.tally }}</h2></td>
	            <td>
                    <ul>
                        <li>Feature: {{ feature.name }}:</li>
                        <li>Discussion: {{ feature.discussion }}</li>
                        {% if feature.outcome %}
                            <li>Outcome: {{ feature.outcome }}</li>
                        {% endif %} 
                    </ul>
                </td>
                <td align="center">{{ feature.status }}</td>
                <td nowrap>

                {% if request.user.is_authenticated and feature.status != 'completed' %}
                    <a href="{% url 'features:vote' 'up' feature.pk %}"><i class="far fa-thumbs-up fa-3x m-2 text-{% if user in feature.upvoters %}success{% else %}light{% endif %}"></i></a>
                    <a href="{% url 'features:vote' 'down' feature.pk %}"><i class="far fa-thumbs-down fa-3x m-2 text-{% if user in feature.downvoters %}danger{% else %}light{% endif %}"></i></a>
                {% else %}
                    <i class="far fa-thumbs-up text-light fa-3x m-2"></i>
                    <i class="far fa-thumbs-down text-light fa-3x m-2"></i>
                {% endif %}
                </td>
	        </tr>
	    {% endfor %}
    </tbody>
</table>

