{% load i18n %}
{% load sslhours %}

<table id="datatable_id" class="display datatable">
    <thead>
        <tr>
            <th>{% trans "Position" %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'SSL Credited' %}</th>
            <th>{% trans 'Description' %}</th>
        </tr>
    </thead>
    <tbody>
    	{% for team in teams %}
	        <tr>
                <td>{{ forloop.counter }}</td>
                <td nowrap>
                    {{ team.hyperlinked_name }}
                    {{ forloop.counter|leaderboard_position_html }}
                    {% if team == user.student.team %}
                        <a href="{% url 'students:snapshot' 'teams' %}">
                            <i class="fas fa-camera fa-2x float-right"></i>
                        </a>
                    {% endif %}
                </td>
	            <td>{{ team.total_servicehours }}</td>
	            <td>{{ team.description }}</td>
	        </tr>
	    {% endfor %}
    </tbody>
</table>

