{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Schools" %}{% endblock title %}

{% block extra_javascript %}
	<script>
		$(document).ready( function () {
			$('#datatable_id').DataTable();
        });
	</script>
{% endblock extra_javascript %}

{% block content %}
	<div class="card">
		<div class="card-header">
			<span class="font-weight-bold">
				Users to impersonate
			</span>
		</div>
		<div class="card-body">


			<table id="datatable_id" class="display">
			    <thead>
			        <tr>
			            <th>ID</th>
			            <th>Username</th>
			            <th>First</th>
			            <th>Last</th>
			            <th>Email</th>
			            <th>Student?</th>
			            <th>Last Login</th>
			        </tr>
			    </thead>
			    <tbody>
			    	{% for user in users %}
				        <tr>
				            <td>{{ user.pk }}</td>
				            <td><a href="/impersonate/{user.pk}">@{{ user.username }}</a></td>
				            <td>{{ user.first_name }}</td>
				            <td>{{ user.last_name }}</td>
				            <td>{{ user.email }}</td>
				            <td>{{ user.student }}</td>
				            <td>{{ user.last_login }}</td>
				        </tr>
				    {% endfor %}
			    </tbody>
			</table>


		</div>
	</div>
{% endblock content %}