{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Claim your MCPS Student ID" %}{% endblock title %}

{% block content %}
	<div class="card">
		<div class="card-header">
			<span class="display-4">{% trans 'Students' %}</span>
			<i class="fas fa-graduation-cap fa-4x text-dark float-right"></i>
		</div>
		<div class="card-body">

			{% blocktrans %}
				<p>
					If you are a student, you will need to associate your account with you MCPS ID.
				</p>
				<p>
					You can only do this once, so if you make a mistake or intentionally enter another student's ID, any service hours will just be rejected, and both your and the other student's accounts will be locked until the matter is resolved by contacting support below.
				</p>
			{% endblocktrans %}
			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<button class="primaryAction" type="submit">{% trans "Claim ID!" %}</button>
			</form>





		</div>
	</div>
{% endblock content %}